body{
    padding: 0px;
    margin: 0px;
    background-color: white;
}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: white; 
    margin-bottom: 30px;
}

.nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.nav-bar a{
    text-decoration: none;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding: 10px;
}

.nav-bar ul li{
    list-style-type: none;
}

.nav-links input{
    margin-left: 100px;
    background-color: #f1f1f1;
    height: 39px;
    border: 0;
    border-radius: 30px;
    padding-left: 27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    width: 200px;
    background-image: url(img/buscar.PNG);
    background-repeat: no-repeat;
    background-position: left center;
}


.op{
    background-color:#262329;
    width: 100%;
}
.ubicacion{
    color: #f1f1f1;
}
.kfc-logo{
    height: 8vh;
}
.fondo{
    display: flex;
    width: 100%;
}
.fondo{
    display: flex;
    width: 100%;
}
.cupones{
    height: 6vh;
}
.perfil{
    height: 6vh;
}
.bolsa{
    height: 8vh;
}

  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .card {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .card h3 {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .card p {
    margin-bottom: 10px;
    font-size: 0.9em;
  }
  
  
  
  .menu-title {
    text-align:start;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
  }


.btnn{
     background-color:firebrick;
    display: block;
    margin: 0 auto;
    height: 9vh;
    width: 19vh;

    color:#ffffff;
    border-radius: 6vh;
    border-color: firebrick;
    text-align: center;
    font-size: 3vh;
  }

  footer{
    background-color: #f1f1f1;
  }
  