*{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    height: 500px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    height: 100px;
    width: 300px;
    background-color: #a0cae0;
}

.pading{
    background-color: #418daf;
    padding: 45px;
    border: 1.5cm solid  #c99377;
    margin: 45px;
}

.margin{
    background-color: #b8541b;

}