.titulo{
    text-align: center;
    
}

.row{
    width: 600px;
    height: 200px;
    background-color: #b22222;
    margin: 10px;
}

#blue{
    background-color: blue;
}

#yelo{
    background-color: gold;
}

